/* fonts  */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Roboto+Mono:wght@100;200;300;400;500&display=swap");
/* download spacil Hebrew font  */
@font-face {
  font-family: "rubik";
  src: url("./data/fonts/Rubik/Rubik-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --dk-primary: #e5b8f4;
  --dk-primary-bg: #2d033b;
  --dk-secondary: #fdffae;
  --dk-secondary-bg: #810ca8;
}
body {
  /*English*/
  font-family: inter, sans-serif;

  /* light */
  background-color: var(--dk-primary);
}

/* Hebrew - not working*/
/* html:lang("he") body {
  font-family: "rubik", sans-serif;
} */

@keyframes move-right {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
